<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/button.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/template.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/textfield.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/feedback.css') }}"
    />
  </head>
  <body>
    <div id="text-container">
      Oh no!<br />
      You've lost all your points from this<br />
      balloon!<br />
    </div>
    <div id="image-container">
      <img src="static/burst.jpeg" alt="Balloon image" />
    </div>
    <button type="submit" class="button" onclick="redirectToPlay()">
      Next
    </button>
  </body>
  <script>
    function redirectToPlay() {
      window.location.href = "/play";
    }
  </script>
</html>
