<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/template.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/button.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/textfield.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <img class="banner" src="{{ banner_image_url }}" alt="Banner Image" />
      <p>Thank you for participating</p>
      <p>
        Your participant ID is: {{ participant_id }}, please write this down for
        your records.
      </p>
      <p>
        If you would like to withdraw your data you can do so up untill {{
        datetime }}, please contact the researcher at hi20047@bristol.ac.uk.
      </p>
      <div id="next-container">
        <button type="submit" class="button" onclick="navigateToHome()">
          Next
        </button>
      </div>
    </div>
    <script>
      function navigateToHime() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
