<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/button.css') }}">
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px; /* adjust as needed */
      }
      #text-container {
        text-align: center;
      }
      #form-container {
        position: absolute;
        bottom: 20px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        text-align: center;
      }
      input[type="text"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
      }

      label {
        font-size: 24px;
      }

      #buttons-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 20px 0; /* Add some space above and below the buttons */
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
          // This function is called when any of the voice-button's is clicked
          $(".voice-button").click(function(event) {
              event.preventDefault();  // Prevent the default action (navigation) from happening
              var button = $(this);  // Get the button that was clicked
              var buttonName = button.attr('id');  // Get the id of the button

              // Make an AJAX request to the Flask route
              $.ajax({
                  url: '/click/' + buttonName,
                  type: 'GET',
                  success: function(response) {
                      // This function is called when the server responds successfully
                      // Update the classes of the buttons based on the response
                      $(".button").each(function() {
                        var btn = $(this);
                        var btnName = btn.attr('id');
                        if (btnName === buttonName) {
                          btn.addClass('clicked');  // Make the clicked button active
                          btn.prop('disabled', true);  // Disable the button
                        } else {
                          btn.removeClass('clicked');  // Make the other buttons inactive
                          btn.prop('disabled', false);  // Enable the button
                        }
                      });
                  },
                  error: function(error) {
                      // This function is called when the server responds with an error
                      console.log(error);
                  }
              });
          });
      });
    </script>
  </head>
  <body>
    <img src="{{ url_for('gameplay.video_feed') }}" />
    <div id="button-container">
      <button type="button" id="voice1" class="button voice-button {{ 'disabled' if button_states['voice1'] else '' }}">Voice 1</button>
      <button type="button" id="voice2" class="button voice-button {{ 'disabled' if button_states['voice2'] else '' }}">Voice 2</button>
      <button type="button" id="voice3" class="button voice-button {{ 'disabled' if button_states['voice3'] else '' }}">Voice 3</button>
      <button type="button" id="voice4" class="button voice-button {{ 'disabled' if button_states['voice4'] else '' }}">Voice 4</button>
    </div>    
        <h3>Name your robot</label><br />
    <div id="form-container">
      <form action="/submit_customisation" method="post">
        <input
          type="text"
          id="robot-name"
          name="robot-name"
          placeholder="Enter robot name"
          required
        />
        <button type="submit" class="button">Next</button>
      </form>
    </div>
    <script>
      $(document).ready(function () {
        $("form").on("submit", function (event) {
          var robotName = $('#robot-name').val().trim();
          if (robotName === '') {
            alert('Please enter a name for the robot.');
            event.preventDefault(); // Prevent the form from being submitted
          } else {
            var btn = $(this).find('.submit');
            btn.prop("disabled", true); // Disable the button
          }
        });
      });

      $(document).keydown(function (event) {
        // Check if the Alt key is pressed
        if (event.altKey) {
          event.preventDefault();
          var keycode = event.key;
          if (keycode == "r") {
            $.ajax({
              url: "/trigger_robot_behavior",
              type: "POST",
              data: { key: "r" },
              success: function (response) {
                console.log(response);
              },
              error: function (error) {
                console.log(error);
              },
            });
          } else if (keycode == "g") {
            $.ajax({
              url: "/trigger_robot_behavior",
              type: "POST",
              data: { key: "g" },
              success: function (response) {
                console.log(response);
              },
              error: function (error) {
                console.log(error);
              },
            });
          } else if (keycode == "b") {
            $.ajax({
              url: "/trigger_robot_behavior",
              type: "POST",
              data: { key: "b" },
              success: function (response) {
                console.log(response);
              },
              error: function (error) {
                console.log(error);
              },
            });
          } else if (keycode == "q") {
            $.ajax({
              url: "/trigger_robot_behavior",
              type: "POST",
              data: { key: "q" },
              success: function (response) {
                console.log(response);
              },
              error: function (error) {
                console.log(error);
              },
            });
          } else if (keycode == "a") {
            $.ajax({
              url: "/trigger_robot_behavior",
              type: "POST",
              data: { key: "a" },
              success: function (response) {
                console.log(response);
              },
              error: function (error) {
                console.log(error);
              },
            });
          }
        }
      });
    </script>
  </body>
</html>
