<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/template.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/button.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/text_field.css') }}"
    />
    <style>
      video.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
      <img class="banner" src="{{ banner_image_url }}" alt="Banner Image" />
      <!-- <video class="center" width="320" height="240" autoplay="autoplay" controls>
        <source src={{ url_for('static', filename="sample-video.mp4") }}
        type="video/mp4"> Your browser does not support the video tag.
      </video> -->
      <p>
        For the next game, you will repeat the same task as before, with robot
        assistance.
      </p>
      <p>
        The robot has updated its gameplay model based on your previous
        responses. It will make suggestions it thinks are appropriate for your
        play style.
      </p>
      <p>
        Before you start the next block, we thought it would be fun for you to
        take a little break and customise the robot that will help you.
      </p>
      <p>Click the 'Next' button to start.</p>

      <div id="next-container">
        <button type="submit" class="button" id="next-button">Next</button>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $("#next-button").on("click", function (event) {
          $(this).prop("disabled", true);
          window.location.href = "/custom_cond";
        });
      });
    </script>
  </body>
</html>
