<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/button.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/template.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/customisation_cond.css') }}"
    />
    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #nextButton {
        margin-top: 10px;
        text-align: center;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <img src="{{ url_for('gameplay.video_feed') }}" />
    </div>
    <script>
      $(document).keydown(function (event) {
        // Check if the Alt key is pressed
        if (event.altKey) {
          event.preventDefault();
          var keycode = event.key;
          if (keycode == "r") {
            $.ajax({
              url: "/trigger_robot_behavior",
              type: "POST",
              data: { key: "r" },
              success: function (response) {
                console.log(response);
              },
              error: function (error) {
                console.log(error);
              },
            });
          } else if (keycode == "g") {
            $.ajax({
              url: "/trigger_robot_behavior",
              type: "POST",
              data: { key: "g" },
              success: function (response) {
                console.log(response);
              },
              error: function (error) {
                console.log(error);
              },
            });
          } else if (keycode == "b") {
            $.ajax({
              url: "/trigger_robot_behavior",
              type: "POST",
              data: { key: "b" },
              success: function (response) {
                console.log(response);
              },
              error: function (error) {
                console.log(error);
              },
            });
          } else if (keycode == "q") {
            $.ajax({
              url: "/trigger_robot_behavior",
              type: "POST",
              data: { key: "q" },
              success: function (response) {
                console.log(response);
                window.location.href = "/custom_voice";
              },
              error: function (error) {
                console.log(error);
              },
            });
          }
        }
      });
    </script>
  </body>
</html>
