<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/customisation_cond.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        Robot name: Nao <br>
        Physical setup: Default <br>
        Robot colour: White <br>
        Robot voice: Robotic
    </div>
    <button type="submit" class="button" id="nextButton">Next</button>
    <script>
        $(document).ready(function () {
            $("#nextButton").click(function (event) {
                event.preventDefault(); // Prevent the default action (form submission)

                $(this).prop("disabled", true); // Disable the button

                // Redirect to the next Flask route
                window.location.href = "/gameIntro";
            });
        });
    </script>
</body>
</html>