<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/button.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/template.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/text_field.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/questions.css') }}"
    />
    <style>
      label {
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img class="banner" src="{{ banner_image_url }}" alt="Banner Image" />
      <form action="/submit_demograph" method="post">
        <div class="question">
          <span class="question-text">What age bracket do you belong to?</span
          ><br />
          <label class="Radio" for="18-25">
            <input type="radio" id="18-25" name="age" value="18-25" required />
            18-25
          </label>
          <br />
          <label class="Radio" for="26-35">
            <input type="radio" id="26-35" name="age" value="26-35" required />
            26-35
          </label>
          <br />
          <label class="Radio" for="36-45">
            <input type="radio" id="36-45" name="age" value="36-45" required />
            36-45
          </label>
          <br />
          <label class="Radio" for="46-55">
            <input type="radio" id="46-55" name="age" value="46-55" required />
            46-55
          </label>
          <br />
          <label class="Radio" for="56+">
            <input type="radio" id="56+" name="age" value="56+" required />
            56+
          </label>
          <br />
          <label class="Radio" for="other_age">
            <input type="radio" id="other_age" name="age" value="0" required />
            Prefer not to say
          </label>
          <br /><br />
        </div>

        <div class="question">
          <span class="question-text">What gender do you identify as?</span
          ><br />
          <input
            type="text"
            id="other-gender-text"
            name="other-gender-text"
            placeholder="Please specify your gender"
            maxlength="20"
          />
          <span
            id="gender-error"
            class="error-message"
            style="color: red"
          ></span>
          <br /><br />
        </div>

        <div id="next-container">
          <button class="button">Next</button>
        </div>
      </form>
    </div>

    <script>
      document
        .querySelector("form")
        .addEventListener("submit", function (event) {
          var form = event.target;
          var textInput = form.querySelector("#other-gender-text");

          if (textInput.value.trim() === "") {
            event.preventDefault(); // Prevent form submission
            textInput.style.borderColor = "red";
            document.querySelector("#gender-error").textContent =
              "Please specify your gender";
          } else {
            textInput.style.borderColor = "";
            document.querySelector("#gender-error").textContent = "";
          }
        });
    </script>
  </body>
</html>
