<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/template.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/button.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/textfield.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/questions.css') }}"
    />
    <style>
      textarea {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img class="banner" src="{{ banner_image_url }}" alt="Banner Image" />
      <div class="question-text">Do you have any thoughts, about the survey, that you would like to share?<br /></div>
      <form action="/freetext" method="post">
        <textarea name="response" rows="10" cols="30" class="text-field">
        </textarea
        ><br />
        <div id="next-container">
          <button type="submit" class="button" onclick="navigateToHome()">
            Next
          </button>
        </div>
      </form>
    </div>
    <script>
      function navigateToHome() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
