<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/button.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/template.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/text_field.css') }}"
    />
    <script>
      window.onload = function () {
        setTimeout(function () {
          window.location.href = "/error_message_non_customise"; // Replace with your desired route
        }, 2000); // 2000 milliseconds = 2 seconds
      };
    </script>
  </head>
  <body>
    <div class="container">
      <img class="banner" src="{{ banner_image_url }}" alt="Banner Image" />
      <p>
        For the next game you will repeat the same task as before, with robot
        assistance.
      </p>
      <p>
        The robot has updated it's game play model based on your previour
        responses and will make suggestions it thinks is approporate for your
        play style.
      </p>
      <div id="next-container">
        <button class="button" id="next-button">Next</button>
      </div>
    </div>
  </body>
</html>
