<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/button.css') }}">
    <style>
        #form-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="form-container">
        <form action="/submit_id" method="post">
            <div id="button-container">
                <button type="submit" class="button">Start</button>
            </div>
        </form>
        <form action="/submit_dev_id" method="post">
            <div id="button-container">
                <button type="submit" class="button" id="dev-button">Dev</button>
            </div>
        </form>
    </div>
</body>
</html>
