{% extends "survey_base.html" %} {% block content %}

<div id="text-container">
  {{ title }}<br />
</div>

{% for question in scales %}
<div class="likert-name">
  <h4>{{ question.question}}</h4>
</div>
<div class="likert">
  <div class="likert-label-left">{{ question.left }}</div>
  <div class="likert-numbers-radios">
    <div class="likert-numbers">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
    </div>
    <div class="likert-radios">
      {% for i in range(1, 8) %}
      <label
        ><input type="radio" name="{{ question.name }}" value="{{ i }}"
      /></label>
      {% endfor %}
    </div>
  </div>
  <div class="likert-label-right">{{ question.right }}</div>
</div>
{% endfor %} {% endblock %}
