<!DOCTYPE html>
<html>
<head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/button.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/template.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/text_field.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/feedback.css') }}"
    />
</head>
<body>
    <div id="text-container">
        Your total score is:</br>
        {{ score }}
    </div>
    <button class="button" id="nextButton" onclick="redirectToSurvey()">Next</button>
    <script>
        function redirectToSurvey() {
            // Disable the button to prevent double clicks
            document.getElementById('nextButton').disabled = true;

            window.location.href = "/survey";  // Adjust the path as per your requirements
        }
    </script>
</body>
</html>
