.banner {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.container {
    text-align: left;
    margin-top: 50px;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 18px;
    line-height: 1.2;
}